*{
    margin:0;
    padding:0;
}
.box{
    margin: 30px auto;
    display:flex;
    flex-wrap:wrap;
}
.n{
    Width:200px;
    height: 231px;
    border-radius:10px;
    overflow: hidden;
    transition: 1s;
    margin: 0 15px 15px 15px;
}
img{
    width: 200px;
    height: 200px;
    transition: 1s;
    border-radius:50%;
    margin:0 1px;
}
.numberOutline{
    width: 32px;
    height: 32px;
    margin:-120px 0 0 158px;
    background:white;
    position:absolute;
    border-radius:50%;
}
.number{
    font-family: arial;
    font-size:16px;
    line-height: 18.4px;
    text-align:center;
    color:#8B0000;
    margin-top: 6.8px;
}
.name{
    font-family: arial;
    font-size:20px;
    line-height: 23px;
    text-align:center;
    color:#2F4F4F;
    margin-top:8px;
}
.netWorth{
    font-family: arial;
    font-size:18px;
    line-height: 20.7px;
    text-align:center;
    color:#2F4F4F;
    margin-top:9px;
}
.n:hover{
    background: #EEEEEE;
    height:344.4px;
    margin:0 -17px -100px -17px;
    width:264px;
    z-index: 2;
}
.n:hover .name{
    font-family: arial;
    font-size:24px;
    line-height: 27.6px;
    text-align:center;
    color:#2F4F4F;
    margin-top:9.6px;
    z-index: 1;
}
.n:hover img{
    border-radius: 60px;
    width: 240px;
    height: 240px;
    margin: 12px 0 0 12px;
    z-index: 1;
}
.n:hover .numberOutline{
    width: 38.4px;
    height: 38.4px;
    margin:-150px 0 0 191.6px;
}
.n:hover .number{
    font-family: arial;
    font-size:19.2px;
    line-height: 22.08px;
    text-align:center;
    color:#8B0000;
    margin-top: 8.4px;
}
@media screen and (min-width: 500px) {
    .box{
        Width:490px;
        height:1320px;
    }
}
@media screen and (min-width: 750px) {
    .box{
        Width:490px;
        height:1320px;
    }
}
@media screen and (min-width: 1000px) {
    .box{
        Width:950px;
        height:780px;
    }
}
@media screen and (min-width: 1500px) {
    .box{
        Width:950px;
        height:780px;
    }
}
